* {
    box-sizing: border-box;
  }

  /* .body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    border: 10px black;
  } */
  
  .h1 {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    text-align: center;
    font-size: 14px;
  }

  .nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    text-align: center;
    font-size: 14px;
  }

  .wrapper {
    width: 600px;
    height: 475px;
    padding: 20px;
    margin: 20px;
    background-color: dimgray;
  }

  .aside {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background-color: #ccc;
    text-align: center;
    float: right;
    width: 200px;
    height: 150px;
  }
  .sec1 {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background-color: #ccc;
    text-align: center;
    float: left;
    width: 350px;
    height: 150px;
  }

  .foot {
    padding: 20px;
    margin-top: 125px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    text-align: center;
    font-size: 14px;
  }

  #relative {
    position: relative;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: dimgray;
  }
  
  #absolute {
    position: relative;
    bottom: 30px;
    padding: 10px;
    height: 35px;
    text-align: center;
    background: #999;
  }

  #absoluteB {
    position: relative;
    bottom: 15px;
    padding: 10px;
    height: 35px;
    text-align: center;
    background: #999;
  }